<% content_for :title do %>
  <%= @item.title %>の詳細情報
<% end %>
<% content_for :description do %>
  <%= @item.title %>の詳細情報。この商品を欲しい人、持っている人をチェックしてみよう！
<% end %>


<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% #TODO 商品イメージ %>
            <% if @item.large_image.present? %>
                <%= image_tag(@item.large_image, alt: @item.title) %>
            <% else %>
                <%= image_tag("no-image.png" , alt: @item.title) %>
            <% end %>
     
          <% #image_tag("no-image.png" , alt: @item.title) %>
                      
        </div>
      </div>
      <div class="title">
         <%= @item.title %>
        <% #TODO 商品タイトル %>
  

      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
            <% if @item.have_users.any? %>
              <div class="users Wanted">
                <% @item.have_users.each do |user| %>
                    
                  <%= link_to gravatar_for(user, size: 30), user %>
               
                <% end %>
               </div>
            <% end %>

        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
              <% if @item.want_users.any? %>
                <div class="users Wanted">
                  <% @item.want_users.each do |user| %>
                    
                      <%= link_to gravatar_for(user, size: 30), user %>
                    
                  <% end %>
                </div>
               <% end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
